.navCont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 80vw;
	height: 5rem;
	margin: 0 auto;
}

.backBtn {
	width: 3rem;
	height: 3rem;
}

.arrowImg {
	width: 100%;
	height: auto;
}

.text {
	font-family: 'roboto condensed';
	font-style: italic;
	font-size: 1.4rem;
	color: black;
}
