:root {
	--green-color: #a3fd4e;
	--gray-color: #1a1a1a;
	--blue-color: #102f3f;
	--white-color: #fff;
}

.color-green {
	color: var(--green-color);
}

.color-gray {
	color: var(--gray-color);
}

.color-blue {
	color: var(--blue-color);
}

.color-white {
	color: var(--white-color);
}
