@value XS, S, M, L, XL from "./layout.module.css";

.textInput {
	flex: 1;
	border: none;
	font-size: 2rem;
	background-color: transparent;
	color: white;
	border-bottom: 0.1rem solid white;
	outline: none;
	margin: 0 2rem;
}

.buttonCont {
	height: 5rem;
	width: max-content;
}

.button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 30rem;
	font-family: 'roboto condensed';
	font-style: italic;
	font-size: 1.6rem;
	text-transform: uppercase;
	padding: 1.5rem 3rem;
	width: max-content;
	height: max-content;
}

/* .button::after {
	content: '';
	position: absolute;
	padding: 2rem 4rem;
	border: 2px solid gray;
	border-radius: 30rem;
	left: 1rem;
	top: -1rem;
	z-index: 2;
} */

.primary {
	border-radius: 30rem;
	background-color: var(--green-color);
	color: var(--gray-color);
}

.secondary {
	border-radius: 30rem;
	background-color: var(--blue-color);
	color: var(--white-color);
}

.btnOutline {
	border: 0.1rem black solid;
	border-radius: 30rem;
}

@media XL {
	.titleResponsive {
		font-size: 9rem;
		text-align: center;
	}
	.titleOutline {
		composes: titleOutline from '../styles/typo.module.css';
		font-size: 9rem;
	}
}

@media L {
	.titleResponsive {
		font-size: 9rem;
		text-align: center;
	}
	.titleOutline {
		composes: titleOutline from '../styles/typo.module.css';
		font-size: 9rem;
	}
}

@media M {
	.titleResponsive {
		font-size: 6rem;
		text-align: center;
	}
	.titleOutline {
		composes: titleOutline from '../styles/typo.module.css';
		font-size: 6rem;
	}
}

@media S {
	.titleResponsive {
		font-size: 6.5rem;
		text-align: center;
	}
	.titleOutline {
		composes: titleOutline from '../styles/typo.module.css';
		font-size: 6.5rem;
	}
}

@media XS {
	.titleResponsive {
		font-size: 12vw;
		text-align: center;
	}
	.titleOutline {
		composes: titleOutline from '../styles/typo.module.css';
		font-size: 12vw;
	}
}
